<div class="inner-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <a routerLink="" class="logo">
          <img class="img-responsive logo" src="./assets/images/logo.png" alt="">
        </a>
        <div class="inner-search">
            <button (click)="onSearchImages(searchQuery)">
              <span>
                <i class="material-icons">search</i>
              </span>
            </button>
            <div class="lst">
              <div class="input">
                <input type="text" name="" id="" [(ngModel)]="searchQuery" (keyup.enter)="onSearchImages(searchQuery)">
              </div>
              <div class="tools">
  
              </div>
            </div>
          </div>
      </div>

      <div class="col-md-2">
        <div class="toolbar">
          <ul class="flex">
            <li>
              <a href="#" class="appList">
                <i class="material-icons">apps</i>
              </a>
            </li>
            <li>
              <a href="#" class="notification">
                <i class="material-icons">notifications</i>
              </a>
            </li>
            <li>
              <a href="#" class="avatar">
                <img src="assets/images/photo.jpg" alt="">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <h1 appTest1>Results</h1> -->
<div *ngIf="searching" class="loader">
    <img src="./assets/images/loader.gif" alt="">

</div>
<!-- <div class="images-container">
  <div *ngFor="let image of images" (click)="activateClass(image)" [ngClass]="{'active': image.active}" class="image">
    <img src="{{image.image.thumbnailLink}}" alt="">
    <div class="caption">
      <span>{{ image.image.width }} x {{ image.image.height }} {{ image.displayLink }} </span>
    </div>
  </div>
</div> -->

<ul class="gallery-items">
  <li *ngFor="let image of images ; let info of info" class="gallery-item">
    <div class="gallery-contents">
      <div class="thumbnail gallery-trigger">
        <img src="{{image.image.thumbnailLink}}" alt="" />
        <a href="#">{{info.imgDominantColor}}</a>

      </div>
      <div class="caption">
        <span>{{ image.image.width }} x {{ image.image.height }} {{ image.displayLink }} </span>
      </div>
      <!-- <div class="title"><a href="https://www.jqueryscript.net/gallery/">Gallery</a> Item 1</div> -->
    </div>
    <div class="gallery-expander">
      <div class="gallery-expander-contents">
        <div class="gallery-trigger-close close">x</div>
        <div class="col">
          <div class="image">
           <a href="{{image.link}}"><img src="{{image.link}}" alt="" /></a> 
           
          </div>
        </div>
        <div class="col">
          <div class="title">
            <a href="{{image.image.contextLink}}">{{image.title}}</a>
          </div>
          <span class="info">{{ image.image.width }} x {{ image.image.height }} {{ image.displayLink }} </span>
          <div class="buttons">
            <a href="{{image.link}}">Visit</a>
            <a href="{{image.link}}">View Image</a>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
<app-footer></app-footer>
