
.gallery-items { font-size: 0; }

.gallery-item {
  display: inline-block;
  vertical-align: top;
  // -webkit-transition: height 500ms ease;
  // -o-transition: height 500ms ease;
  // transition: height 500ms ease;
  &:hover {
    .caption {
      display: block;
    }
  }
}

.gallery-expander {
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  max-height: 0;
  // -webkit-transition: max-height 500ms ease;
  // -o-transition: max-height 500ms ease;
  // transition: max-height 500ms ease;
}

.gallery-contents { 
  
  position: relative;
  .caption {
    position: absolute;
    background: rgba(51,51,51,0.8);
    margin-left: 0;
    padding: 2px 4px;
    bottom: 0;
    display: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    color: #fff;
    font: normal 11px arial,sans-serif;
    line-height: 100%;
    right: 0;
    width: 100%;

  }
}

.gallery-contents:after {
  display: block;
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -30px;
  width: 0;
  height: 0;
  content: '';
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  // -webkit-transition: border-bottom-width 500ms ease;
  // -o-transition: border-bottom-width 500ms ease;
  // transition: border-bottom-width 500ms ease;
}

.gallery-item.active .gallery-contents:after { border-bottom-width: 8px; }



ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery-item {
  text-align: left;
  font-size: 25px;
  margin-right: 12px;
  margin-bottom: 12px;
}

.gallery-item .thumbnail {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 0;
  padding: 0;
  border-radius: 0;

}

.gallery-item .thumbnail > img {
}

.gallery-item .title {
  color: #d6d6d6 !important;
  display: block;
  font-size: 22px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  a {
    color: #d6d6d6 !important;
  }
}
.gallery-item {
  .info {
    color: #7d7d7d;
    line-height: 16px;
    font-size: 13px;
  }
  .buttons {
    a {
      background-color: #454545;
      background-image: -webkit-linear-gradient(top,#3e3e3e,#333);
      border: 1px solid #141414;
      box-sizing: border-box;
      border-radius: 2px;
      box-shadow: 0 1px 0 rgba(255,255,255,.06), 1px 1px 0 rgba(255,255,255,.03), -1px -1px 0 rgba(0,0,0,.02), inset 1px 1px 0 rgba(255,255,255,.05);
      color: #aaa;
      cursor: pointer;
      display: inline-table;
      height: 100%;
      font-size: 11px;
      font-weight: bold;
      margin-right: 10px;
      outline: 0;
      padding: 5px 8px;
      text-align: center;
      text-decoration: none;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
      vertical-align: middle;
      white-space: normal;
      word-wrap: normal;

      &:hover {
        background-image: -webkit-linear-gradient(top,#4e4e4e,#474747);
        border: 1px solid #191919;
        box-shadow: 0 1px 0 rgba(255,255,255,.09), 1px 1px 0 rgba(255,255,255,.05), -1px -1px 0 rgba(0,0,0,.02), inset 1px 1px 0 rgba(255,255,255,.05);
    }
    }
  }
}

.gallery-contents:after { border-bottom-color: #222222; }

.gallery-expander {  
   z-index: 12;
   background: #222222; }

.gallery-expander-contents {
  margin: 0 auto;
  width: 1000px;
  padding: 40px 0;

}
@media (min-width: 640px) and (max-width: 999px) {

.gallery-expander-contents { width: 640px; }
}
@media (max-width: 639px) {

.gallery-expander-contents { width: 100%; }
}

.gallery-expander-contents:after {
  clear: both;
  display: table;
  content: '';
}

.gallery-expander-contents > div.col {
  float: left;
  width: 480px;
}
@media (min-width: 640px) and (max-width: 999px) {

.gallery-expander-contents > div.col { width: 310px; }
}
@media (max-width: 639px) {

.gallery-expander-contents > div.col {
  float: none;
  padding: 25px 20px 0;
  width: auto;
}
}

.gallery-expander-contents > div.col + div.col { margin-left: 40px; }
@media (min-width: 640px) and (max-width: 999px) {

.gallery-expander-contents > div.col + div.col { margin-left: 20px; }
}
@media (max-width: 639px) {

.gallery-expander-contents > div.col + div.col { margin-left: 0px; }
}

.gallery-expander-contents div.close {
  position: absolute;
  top: 10px;
  right: 20px;
}
.close {
  color: #efefef;
  opacity: 1;
  text-shadow: none;
}
.gallery-expander-contents div.title {
  font-weight: 500;
}

.gallery-expander-contents div.contents {
  margin-top: 10px;

  padding: 10px 0;
  font-size: 14px;
  line-height: 24px;

}
.gallery-expander-contents div.image {

  background-color: #fff;
  background-image: -webkit-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef),-webkit-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef);
  background-position: 0 0,10px 10px;
  -webkit-background-size: 21px 21px;
  border: 0;
  box-shadow: 0 5px 35px rgba(0,0,0,.65);
}
.gallery-expander-contents div.image > a img {
  width: 100%;
  display: block;
}
