<app-header></app-header>

<div class="grid-container" *ngIf="(peoples$ | async) as peoples; else loading">
    
        <div class="shape" *ngFor="let people of peoples.results" 
        
            mat-raised-button (click)="add(people.url)">
            
            <div class="overlay"></div>

            <span class="block block-height">
                <!--i class="fa fa-male" aria-hidden="true"></!--i -->
                {{ people.height + 'cm'  }}
            </span>
            <span class="block block-mass">
                <!--i class="fa fa-hand-spock-o" aria-hidden="true"></!--i -->
                {{ people.mass != 'unknown' ? people.mass + 'Kg' : people.mass }}
            </span>
            <span class="block block-gender"> 
                <!--i class="fa fa-transgender" aria-hidden="true"></!--i -->
                {{ people.gender.length > 4 ? people.gender.substring(0,4) + ' ...' : people.gender }}
            </span>
            <span class="block-name"> {{ people.name }} </span>
            

            <div class="sabre">
                <div class="lightsaber">
                    <label for="{{people.name}}"></label>
                    <input type="checkbox" id="{{people.name}}" checked="checked">
                    <div class="plasma obi-wan"></div>
                </div>
            </div>

        </div>
    

    <div></div><div></div>

    <nav class="pagination">
        <ul class=" container flex">
            <li [ngClass]="previous() ? 'page-item active' : 'page-item'">
                <a class="page-link" (click)="previousPage()" > &lt;&lt; </a>
            </li>
            <li *ngFor="let page of pages; let i = index" 
                [ngClass]="( currentPage == i+1 ) ? 'page-item active' : 'page-item'">
                <a class="page-link" (click)="listar(i+1)"> {{ i+1 }} </a>
            </li>
            <li [ngClass]="next() ? 'page-item active' : 'page-item'">
                <a class="page-link" (click)="nextPage()" > &gt;&gt; </a>
            </li>
        </ul>
    </nav>

</div>



<ng-template #loading>
    
    
    <div class="modal">
        <div class="modal-inner">
            <h2>Carregando personagens...</h2>
        </div>
    </div>
    

</ng-template>


<app-footer></app-footer>