.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0, .5);
}

.modal-inner {
    position: absolute;
    top: 0%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    margin: auto;
    overflow: auto;
    background: #fff;
    box-shadow: 0px 0px 20px #fff;
    border-radius: 5px;
    padding: 1em 2em;
    height: 90%;

    p{
        font-family: monospace;
      font-size: 1.15em;
      font-weight: bolder;
      line-height: 1em;
    }
}

.titulo{
    color: rgb(55,132,214);
    text-align: center;
    font-family: monospace;
}

.container-box {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 30% 70%;
    
    grid-template-areas:
        'header header'
        'aside main'
        'footer footer'
    ;
}

header {
     grid-area: header;

    .icone{
        position: absolute;
        font-size: 2em;
        color: rgb(55,132,214);
        cursor: pointer;
    }
    .fa-arrow-left{
        top: 2%;
        left: 2%;
    }
    .fa-times-circle{
        top: 2%;
        right: 2%;
    }

}



aside {
    grid-area: aside;

    .img-person{
        border: 5px solid rgba(173, 173, 173, 0.5);
        border-radius: 5px;
        width: calc(100% - 10px);
    }
}



main {
  grid-area: main;
  
}

footer {
    grid-area: footer;

    .starships{
        display: flex;
        align-items: stretch;
        margin: 5px 0;
        border-bottom: 1px solid #000;
        padding: 10px 0;
    }
}



::-webkit-scrollbar {
    width: 0.5em;
}
   
::-webkit-scrollbar-thumb {
    /*background-color: linear-gradient(transparent, rgb(55,132,214));*/
    background: linear-gradient(transparent, rgb(55,132,214));
    border-radius: 6px;
    transition: 1s;
}
::-webkit-scrollbar-thumb:hover {
    transition: 1s;
    background: linear-gradient(transparent, rgb(229,17,21));
}