<div class="toolbar">
  <ul class="flex">
    <li>
      <a href="#" class="appList">
        <i class="material-icons">apps</i>
      </a>
    </li>
    <li>
      <a href="#" class="notification">
        <i class="material-icons">notifications</i>
      </a>
    </li>
    <li>
      <a href="#" class="avatar">
        <img src="assets/images/photo.jpg" alt="">
      </a>
    </li>
  </ul>
</div>
<div class="content">
  <div class="logo">
    <p class="logoTxt">images</p>
  </div>
  <div class="search">
    <button (click)="onSearchImages(searchQuery)">
      <span>
        <i class="material-icons">search</i>
      </span>
    </button>
    <div class="lst">
      <div class="input">
        <input type="text" name="" id="" [(ngModel)]="searchQuery" (keyup.enter)="onSearchImages(searchQuery)">
      </div>
      <div class="tools">

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<!-- <p *ngIf="searching"> Fetch DAta</p>
<div *ngFor="let image of images" class="images-container">
  <p> LINK: {{ image.displayLink }}</p>
  <img src="{{image.image.thumbnailLink}}" alt="">
  <p> Title : {{ image.title}} </p>
</div> -->
